main{
    position: relative;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 20%;
    height: 500px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-template-rows: 40px 40px repeat(10, 1fr);
    grid-template-columns: 100px 1fr;
    display: grid;
    font-family: 'Roboto', sans-serif;
}

#moment-day{
    grid-row: 2fr;
    grid-column: 1fr;
    font-size: 40px;
}

#moment-date{
    grid-row: 1fr;
    grid-column: 1fr;
}

#moment-year{
    grid-row: 1fr;
    grid-column: 1fr;
}

#content{
    grid-row: 1fr;
    grid-column: 2fr;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#newInput{
    outline: none;
    margin-right: 5px;
    margin-left: 5px;
    width: 83%;
    height: 20px;
    padding-left: 10px;
    font-weight: bold;
}

.fa-circle{
    position: absolute;
    right: 10px;
}

a:hover{
    color: #6d6e70;
}

.toDoItem{
    background-color: #eaecef;
    border-radius: 3px;
    margin-top: 15px;
    padding: 3px;
    height: 25px;
    line-height: 25px;
    font-weight: bolder;
    position: relative;
}
.fa-times{
    line-height: 20px
}
